.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.container:hover .text-hidden {
  display: block;
}

.left-side {
  flex: 1;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.text-hidden {
  display: none;
  position: absolute;
}

.right-side {
  flex: 1;
}

.container:hover .red-box {
  transform: rotate(90deg);
}

.red-box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background-color: red;
  transform-origin: top left;
  transition-duration: 0.5s;
}

.container:hover .blue-box {
  transform: rotate(-90deg);
}

.blue-box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background-color: blue;
  transform-origin: bottom left;
  transition-duration: 0.5s;
}

.container:hover .green-box {
  transform: rotate(90deg);
}

.green-box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background-color: green;
  transform-origin: bottom right;
  transition-duration: 0.5s;
}

.container:hover .yellow-box {
  transform: rotate(-90deg);
}

.yellow-box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background-color: yellow;
  transform-origin: top right;
  transition-duration: 0.5s;
}